<section class="top">
    <div class="createAndToggle">
        <form action="todo/" method="get">
            <input type="submit" value="Create new note" class="button-54">
        </form>

        <form action="/" method="get">
            <input type="hidden" name="styleToggle" value={{userSettings.styleToggle}}>
            <input type="submit" value="Toggle Style" aria-label="Toggle style" class="button-54">
        </form>
    </div>

    <div class="filter">
        <form action="/" method="get">
            <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
            <input type="hidden" name="orderBy"  value="todoTitle">
            <input type="submit" value="Name" aria-label="sort by direction" class="button-54">
        </form>

        <form action="/" method="get">
            <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
            <input type="hidden" name="orderBy"  value="dueDate">
            <input type="submit" value="By Due Date" aria-label="sort by due Date" class="button-54">
        </form>

        <form action="/" method="get">
            <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
            <input type="hidden" name="orderBy"  value="importance">
            <input type="submit" value="By Rating" aria-label="sort by Rating" class="button-54">
        </form>

        <form action="/" method="get">
            <input type="hidden" name="hideCompleted" value={{userSettings.showCompleted}}>
            <input type="submit" value="Filter Completed" aria-label="filter completed" class="button-54">
        </form>
    </div>
</section>
<section class="cards">
    {{#each result.todoList}}
        <article>
            <h2>{{this.todoTitle}}</h2>
            <div class="content">
                <p><input name="completed" type="checkbox" value="true" aria-label="finished checkbox" {{#if this.completed}}checked{{/if}} disabled></p>
                <div class="date">
                    <p>Due Date:</p>
                    <p>{{this.dueDate}}</p>
                </div>
                <div class="importance">
                    <p>Importance:</p>
                    <p>{{this.importance}}</p>
                </div>
                <div class="description">
                    <p class="description">{{this.description}}</p>
                </div>
                <p class="edit-button"><form action="/todo/{{this._id}}" method="get"><input class="button-30" type="submit" value="Edit"></form></p>
            </div>
        </article>
    {{/each}}
    {{#unless result.todoList}}
        <p>Keine Einträge gefunden</p>
    {{/unless}}
</section>
