<div class="createAndToggle">
    <form action="note/" method="get">
        <input type="submit" value="Create new note">
    </form>

    <form action="/" method="get">
        <input type="hidden" name="styleToggle" value={{userSettings.styleToggle}}>
        <input type="submit" value="Toggle Style" aria-label="Toggle style">
    </form>
</div>

<div class="filter">
    <form action="/" method="get">
        <input type="hidden" class="btn btn-outline-primary" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
        <input type="hidden" class="btn btn-outline-primary" name="orderBy"  value="title">
        <input type="submit" class="btn btn-outline-primary" value="Name" aria-label="sort by direction">
    </form>

    <form action="/" method="get">
        <input type="hidden" class="btn btn-outline-primary" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
        <input type="hidden" class="btn btn-outline-primary" name="orderBy"  value="dueDate">
        <input type="submit" class="btn btn-outline-primary" value="By Due Date" aria-label="sort by due Date">
    </form>

    <form action="/" method="get">
        <input type="hidden" class="btn btn-outline-primary" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
        <input type="hidden" class="btn btn-outline-primary" name="orderBy"  value="importance">
        <input type="submit" class="btn btn-outline-primary" value="By Rating" aria-label="sort by Rating">
    </form>

    <form action="/" method="get">
        <input type="hidden" class="btn btn-outline-primary" name="hideCompleted" value={{userSettings.showCompleted}}>
        <input type="submit" class="btn btn-outline-primary" value="Filter Completed" aria-label="filter completed">
    </form>
</div>

<table>
    <tr>
        <th>todoTitle</th>
        <th>dueDate</th>
        <th>importance</th>
        <th>state</th>
        <th>description</th>
    </tr>

    {{#each result.noteList}}
        <tr>
            <td>{{this.dueDate}}</td>
            <td><a href="/note/{{this._id}}/">{{this.todoTitle}}</a><br>
                <p>{{this.description}}</p>
            </td>
            <td><input name="completed" type="checkbox" value="true" aria-label="finished checkbox" {{#if this.completed}}checked{{/if}} disabled></td>
            <td>{{this.importance}}</td>
        </tr>
    {{/each}}

    {{#unless result.noteList}}
        <tr>
            <td>Keine Einträge gefunden</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {{/unless}}
</table>